// desktop
@use "./desktop/header-desctop.scss";
@use "./desktop/main-spellbind.scss";
@use "./desktop/experience-desctop.scss";
@use "./desktop/secrets-desctop.scss";
@use "./desktop/gallery-descktop.scss";

/* mobile */
@use "./mobile/Header.mobile.scss";
@use "./mobile/Main-spellbind.mobile.scss";
@use "./mobile/Secrets.mobile.scss";
@use "./mobile/Gallery.mobile.scss";

:root {
  --bg-color-red: #dd2242;
  --text-color-white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
}

.container {
  //   width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
