.header__bg {
  position: relative;
  background: linear-gradient(
      216deg,
      rgba(0, 0, 0, 0.31) 29.66%,
      rgba(0, 0, 0, 0.29) 84.2%
    ),
    url("./background/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  max-width: 1920px;
  height: 1080px;

  .nav {
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-top: 28px;
    justify-content: space-between;

    .nav__logo__menu {
      display: flex;
      align-items: center;

      .nav__logo {
        display: flex;
        align-items: center;

        .nav__text-logo {
          align-self: end;
          color: #fff;
          font-feature-settings: "liga" off, "clig" off;
          font-family: Roboto;
          font-size: 23.961px;
          font-style: normal;
          font-weight: 900;
          line-height: 80.5%;
          letter-spacing: 0.315px;
          text-transform: uppercase;

          .nav__text-logo--explore {
          }
          .nav__text-logo--indonesia {
          }
        }
      }
      ul {
        display: flex;
        width: 572.298px;
        justify-content: space-between;
        align-items: center;
        margin-left: 64px;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: #fff;
            font-family: "DM Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            user-select: none;
          }
        }
      }
    }

    .nav__search__burger {
      display: flex;
      gap: 40px;
      align-items: center;
      margin-right: 140px;

      .nav__search {
        filter: invert(1);
        cursor: pointer;
        user-select: none;
      }
      .nav__burger {
        display: flex;
        gap: 4px;
        flex-direction: column;
        width: 24px;
        height: 24px;
        justify-content: space-evenly;
        cursor: pointer;

        .item {
          height: 2px;
          background-color: #fff;
          width: 100%;
        }
      }
    }
  }
  .header__text {
    display: flex;
    margin-top: 197px;

    .header__scroll {
      position: relative;
      width: 2.001px;
      height: 296px;
      background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
      margin-left: 71px;
      flex-shrink: 0;
    }
    .header__scroll::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 25%;
      background-color: red;
      transform: translate(-25%);
    }
    .header__scroll::after {
      content: "01";
      position: absolute;
      bottom: -30px;
      color: #fff;
      transform: translate(-50%, 0) rotate(270deg);
    }
    .header__text--btn {
      margin-left: 204px;
      h1 {
        width: 100%;
        width: 627.327px;
        height: 260px;
        color: #fff;
        font-family: Roboto;
        font-size: 105px;
        font-style: normal;
        font-weight: 900;
        line-height: 108.333%;
        text-transform: uppercase;
      }
      button {
        margin-top: 21px;
        display: flex;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        width: 271.141px;
        height: 82px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 211px;
        background: var(--bg-color-red);
        border: none;
        cursor: pointer;
        user-select: none;
      }
      .header__titles {
        width: 1225.638px;
        margin-top: 233px;
        display: flex;
        gap: 198.1px;
        border: 1px solid #000;
        background: rgba(0, 0, 0, 0.6);
        height: 210px;
        flex-shrink: 0;

        .header__titles-item:first-child {
          padding-left: 71px;
        }
        .header__titles-item {
          display: block;
          padding: 41px 0 49px 0;

          .header__titles-item--number {
            color: #dd2242;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
          }
          h2 {
            padding-top: 14px;
            width: 121.063px;
            color: #fff;
            font-family: "DM Sans";
            font-size: 26.409px;
            font-style: normal;
            font-weight: 700;
            line-height: 41.081px;
            opacity: none;
          }
          .header__titles-item--text {
            width: 210.109px;
            color: #939393;
            font-feature-settings: "liga" off, "clig" off;
            font-family: "DM Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.5px;
          }
        }
        .header__titles-image {
          position: absolute;
          bottom: 0;
          right: 0;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  .social {
    position: absolute;
    left: 10px;
    bottom: 44px;
    display: flex;
    justify-content: space-between;
    width: 131px;
    height: 21.011px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    margin-bottom: 44px;

    a {
      color: var(--text-color-white);
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      font-family: "DM Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
  }
}
