.secrets {
  position: relative;
  max-width: 1920px;
  height: 2207px;
  background: url("./background/unsplash-bg.jpg") lightgray -12.025px -395.323px /
    100.731% 131.158% no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;

  h2 {
    padding-top: 127px;
    color: var(--Blue---Background, #010a20);
    text-align: center;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .secrets__img {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 31px;

    img {
      display: flex;
    }
    .arrow-left,
    .arrow-right {
      display: flex;
      align-items: center;
    }
  }
  .circle {
    display: flex;
    justify-content: center;
    padding-top: 28px;
  }

  .opacity__block {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 794px;
    opacity: 0.9;
    background: #020c21;
    bottom: 0;
    .opacity__block-h1-text {
      h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        padding-top: 201px;
        color: #fff;
        text-align: center;
        font-family: "DM Sans";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 90px */

        br {
          display: none;
        }
      }
      .opacity__block-text {
        margin-top: 38.83px;
        margin-right: auto;
        margin-left: auto;
        width: 484px;
        height: 102px;
        color: var(--Text-Lighten, #e0e0e0);
        text-align: center;
        font-feature-settings: "liga" off, "clig" off;
        /* Paragraph Light */
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: 0.5px;
      }
    }
    .opacity__block-items {
      margin-top: 39px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0;
    }
  }

  .opacity__block-item {
    h1 {
      width: 314px;
      color: #dd2242;
      text-align: center;
      /* Mobile H1 */
      font-family: "DM Sans";
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px; /* 115% */
    }

    p {
      width: 314px;
      height: 70.229px;
      text-align: center;
      color: var(--Text-Lighten, #e0e0e0);
      font-feature-settings: "liga" off, "clig" off;
      /* Mobile Paragraph 1 */
      font-family: "DM Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.5px;
    }
  }
}
